<div class="col-xs-8 col-sm-6 col-md-6 col-xs-offset-2 col-sm-offset-3 col-md-offset-3">
  <div class="message-user-field">
    To <%= link_to @recipient_user.name, user_path(@recipient_user) %>
    <p>Message</p>
  </div>
  <% if @over_ten %>
    <%= link_to '以前のメッセージ', '?m=all' %>
  <% end %>
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
          <div class="item">
            <% if message.user_id == current_user.id %>
              <div class="message_<%= message.user_id %>" style="text-align: right">
                <div class="content">
                  <div class="header"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
                  <div class="list">
                    <div class="item">
                      <%= message.body %>
                    </div>
                  </div>
                </div>
              </div>
            <%  else %>
              <div class="message_<%= message.user_id %>" style="text-align: left">
                <div class="content">
                  <div class="header"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
                  <div class="list">
                    <div class="item">
                      <%= link_to user_path(message.user) do %>
                        <%= message_profile_img(message.user) %>
                      <% end %>
                      <%= message.body %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
      <br>
    <% end %>
  </div>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <br>
      <div>
        <%= f.submit "メッセージを送る", class: 'btn btn-primary' %>
      </div>

  <% end %>
