<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p class="posting-time"><%= distance_of_time_in_words_to_now comment.created_at %>前</p>
    <div class="comment_<%= comment.id %>">
      <li class="comment_list">
        <%= comment.content %>
      </li>
      <% if comment.user_id == current_user.id %>





         <%= link_to topic_comment_path(topic, comment), method: :delete , remote: true, data: { confirm: "本当に <strong>#{comment.content}</strong> を削除してよろしいですか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認"  do %>
           <span class="fa fa-trash" aria-hidden="true"></span>
               <%= link_to '編集', edit_topic_comment_path(topic, comment),  remote: true %>
         <% end %>
      <% end %>
    </div>
  <% end %>
  <hr class="comment-hr">
<% end %>
