<% if @topic.errors.any? %>
  <div class="alert alert-danger">
    <div class="alert-danger-text">
      <%= @topic.errors.count %>つのエラーが含まれています。
    </div>
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= t msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@topic, url: choose_new_or_edit, remote: true, authenticity_token: true ) do |f| %>
  <%= f.text_area :content, class: 'form-control', placeholder: "今なにしてる？" %>
  <div class="image-post">
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="topic_post_footer">
    <%= f.submit button_name, class: 'btn btn-primary btn-sm topic_button' %>
  </div>
<% end %>
