<div class="col-md-3 hidden-xs hidden-sm">
  <%= link_to image_tag('moterman.png', {alt: 'Moterman'}), 'http://rubyfree.xyz/', target: "_new" %>
</div>
<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="topic_post">
    <div class="topic_post_header">
      <div class="topic_post_header_text">
        <i class="fa fa-pencil" aria-hidden="true"><span> 投稿を作成</span></i>
      </div>
    </div>
    <div class="topic_post_form">
      <%= form_img(current_user) %>
      <%= render partial: 'form' %>
    </div>
  </div>
  <% @topics.each do |topic| %>
    <div class="topic">
      <div class="topic_body">
        <% if topic.user_id == current_user.id %>



          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <%= link_to '編集', edit_topic_path(topic), class: 'btn btn-default btn-success',  remote: true %>
              <%= link_to '削除', topic_path(topic), method: :delete, data: { confirm: "本当に投稿を削除してよろしいですか？", cancel: "やめる", commit: "削除する"},  class: 'btn btn-default btn-danger'  %>
             </ul>
          </div>
        <% end %>
        <div class="topic-user-filed">
          <%= icon_img(topic.user) %>
          <%= link_to topic.user.name, user_path(topic.user), class: 'topic-user-name' %>
        </div>
        <p class="posting-time"><%= distance_of_time_in_words_to_now topic.created_at %>前</p>
        <div class="topic_content_<%= topic.id %>">
          <%= html_escape_br(topic) %>
        </div>
      <br>
      <%= image_tag topic.avatar, class: 'image-field' %>
      <div class="like_button">
        <div id="like_<%= topic.id %>">
          <%= render partial: 'topics/like', locals: { topic: topic, like: Like.info(current_user.id, topic.id) } %>
        </div>
      </div>
      </div>
      <hr>
      <div class="topic_comment">
        <div class="comments_area_<%= topic.id %>">
          <div class="comments_content_<%= topic.id %>">
            <%= render partial: 'comments/index', locals: { comments: topic.comments, topic: topic } %>
          </div>
          <div class="comment_form_<%= topic.id %>">
            <%= render partial: 'comments/form', locals: { comment: @comment = topic.comments.build, topic: topic } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-3 hidden-xs hidden-sm">
  <div class="maybe-friend-field">
    <span>知り合いかも？</span>
    <% @maybe_friend.each do  |user| %>
      <li><strong class="info_name"><%= index_profile_img(user) %> <%= link_to user.name, user_path(user) %></strong></li>
    <% end %>
  </div>
  <%= render 'users/request_friend' %>
</div>
<div class="col-xs-12 col-sm-12">
  <div class="page-nation">
    <%= paginate @topics %>
  </div>
</div>
