
<div class="col-md-3 hidden-xs hidden-sm">

<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="post_post">
    <div class="post_post_header">
      <div class="post_post_header_text">
        <i class="fa fa-pencil" aria-hidden="true"><span> 投稿を作成</span></i>
      </div>
    </div>
    <div class="post_post_form">
      <%= form_img(current_user) %>
      <%= render partial: 'form' %>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_body">
        <% if post.user_id == current_user.id %>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <%= link_to '編集', edit_post_path(post), remote: true %>
              </li>
              <li><%= link_to '削除', post_path(post), method: :delete, data: { confirm: "本当に投稿を削除してよろしいですか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認" %></li>
            </ul>
          </div>
        <% end %>
        <div class="post-user-filed">
          <%= icon_img(post.user) %>
          <%= link_to post.user.name, user_path(post.user), class: 'post-user-name' %>
        </div>
        <p class="posting-time"><%= distance_of_time_in_words_to_now post.created_at %>前</p>
        <div class="post_content_<%= post.id %>">
          <%= html_escape_br(post) %>
        </div>
      <br>
      <%= image_tag post.avatar, class: 'image-field' %>

      <hr>
      <div class="post_comment">
        <div class="comments_area_<%= post.id %>">
          <div class="comments_content_<%= post.id %>">
            <%= render partial: 'comments/index', locals: { comments: post.comments, post: post } %>
          </div>
          <div class="comment_form_<%= post.id %>">
            <%= render partial: 'comments/form', locals: { comment: @comment = post.comments.build, post: post } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-3 hidden-xs hidden-sm">
  <div class="maybe-friend-field">
    <span>知り合いかも？</span>
    <% @maybe_friend.each do  |user| %>
      <li><strong class="info_name"><%= index_profile_img(user) %> <%= link_to user.name, user_path(user) %></strong></li>
    <% end %>
  </div>
  <%= render 'users/request_friend' %>
</div>
<div class="col-xs-12 col-sm-12">
  <div class="page-nation">
    <%= paginate @posts %>
  </div>
</div>
