<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid col-md-10 col-md-offset-1">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to posts_path, class: "navbar-brand" do %>
          <i class="fa fa-facebook-official"></i>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'ホーム', posts_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to user_path(current_user), class: 'icon-link' do %>
                <%= icon_img(current_user) %>  <%= current_user.name %>
              <% end %>
            </li>
            <li><%= link_to 'ユーザー一覧', users_path %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path  %></li>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container main col-md-8 col-md-offset-2">
  <% flash_messages %>
  <%= yield %>
</div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">© 2017 takataka</p>
    </div>
  </footer>
</body>
</html>
